$mobile-width: 1040px;
$xs: 450px;

@mixin button-styles($x-translation, $sm-x-trans) {
    cursor: pointer;
    position: absolute;
    top: 38%;
    transform: translateY(-50%) translateX($x-translation);
    width: auto;
    height: 13.6%;
    transition: transform 100ms ease-in-out;

    &:hover {
        transform: translateY(-50%) translateX($x-translation) scale(1.25);
    }

    @media screen and (max-width: $mobile-width) {
        top: 31%;
        transform: translateX($sm-x-trans);

        &:hover {
            transform: translateX($sm-x-trans) scale(1.25);
        }
    }
}

.cardContainer {
    grid-row: 1 / -1;
    grid-column: 2;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;

    .card {
        position: relative;
        height: 90%;
        width: auto;
        aspect-ratio: 426.51 / 513.6;

        .animationWrapper {
            height: 100%;
            width: auto;
            aspect-ratio: 450 / 547.5;
        }

        .next {
            @include button-styles(545%, 235%);
        }

        .prev {
            @include button-styles(-25%, -332%);
        }

        .cardBody {
            position: absolute;
            aspect-ratio: 450 / 547.5;
            top: 0;
            height: 100%;
            backdrop-filter: blur(15px);
            filter: drop-shadow(-3px 2px 14px rgba(0, 0, 30, 0.25));
            background-color: rgba(255, 255, 255, 0.245);
            width: auto;
            clip-path: url(#card-body-mask);
        }

        .cardBorder {
            position: absolute;
            aspect-ratio: 450 / 547.5;
            height: 100%;
            top: 0.1%;
            left: 0;
            // top: 0.2%;
            // left: 0.1%;
            width: auto;
            z-index: 400;
        }

        .cardContent {
            position: absolute;
            height: 93%;
            top: calc(12.5 / 547.5 * 100%);
            left: calc(12.5 / 450 * 100%);
            width: auto;
        }
    }

    @media screen and (max-width: 1120px) {
        justify-content: center;

        .card {
            height: 40vh;
            width: auto;
        }
    }

    @media screen and (max-width: 770px) {
        margin-top: 0;
    }
}