$mobile-width: 1040px;
$xs: 450px;

.carouselContainer {
    position: relative;
    grid-row: 1 / -1;
    grid-column: 2;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    @media screen and (max-width: 770px) {
        margin-top: 0;
    }

    .carousel {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        position: relative;

        @media screen and (max-width: 1120px) {
            justify-content: center;
            height: 40dvh;
        }
    }

    .card {
        aspect-ratio: 450 / 547.5;
        height: 100%;
        position: relative;

        @mixin card-positioning($dist-top, $dist-left) {
            position: absolute;
            top: calc($dist-top / 547.5 * 100%);
            left: calc($dist-left / 450 * 100%);
        }

        .cardBody {
            position: absolute;
            top: 0;
            backdrop-filter: blur(15px);
            background-color: rgba(255, 255, 255, 0.245);
            width: 100%;
            height: 100%;
            clip-path: url(#card-body-mask);
        }

        .photo {
            @include card-positioning(12.5, 12.5);
            height: calc(390 / 547.5 * 100%);
            width: auto;
        }

        .name {
            @include card-positioning(418.5, 0);
            width: 100%;
            text-align: center;
            font-weight: 700;
            font-size: 150%;
            text-shadow: -2px 2px 4px #00000052;
        }

        .team {
            @include card-positioning(482.5, 0);
            width: 100%;
            text-align: center;
            font-weight: 500;
            font-size: 100%;
        }

    }

    @mixin button-styles($x-translation) {
        cursor: pointer;
        position: absolute;
        top: 38%;
        transform: translateY(-50%) translateX($x-translation);
        width: auto;
        height: 13.6%;
    }

    .next {
        @include button-styles(40%);

        @media screen and (max-width: 1120px) {
            transform: translateY(-50%) translateX(300%);
        }

        @media screen and (max-width: $mobile-width) {
            left: 100%;
            transform: translateY(-50%) translateX(-60%);
        }
    }

    .prev {
        @include button-styles(-530%);

        @media screen and (max-width: 1120px) {
            transform: translateY(-50%) translateX(-285%);
        }

        @media screen and (max-width: $mobile-width) {
            left: 0%;
            transform: translateY(-50%) translateX(-40%);
        }

    }
}