@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

$mobile-width: 1040px;
$zIndex-moon: 5;
$xs: 450px;

.page {
    background-color: rgb(0, 0, 30);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Space Grotesk", sans-serif;
    color: white;

    .content {
        display: grid;
        grid-template-columns: 1fr 0.86fr;
        grid-template-rows: 1fr 1fr;
        // width: 80vw;
        // height: 60vh;
        width: 80%;
        height: 60%;
        row-gap: 2rem;
        // column-gap: 10rem;

        h1 {
            z-index: calc($zIndex-moon - 1);
            font-weight: 700;
            // font-size: 100px;
            // font-size: 8vw;
            line-height: 7rem;
            font-size: clamp(6.25rem, 8vw, 8.125rem);
            margin-top: 2rem;
        }

        p {
            z-index: calc($zIndex-moon + 1);
            font-weight: 500;
            font-size: 1.1rem;
            max-width: 40%;
        }

        @media (min-resolution: 1.5dppx) and (max-resolution: 1.74dppx) {
            h1 {
                margin-top: 4rem;
            }
        }

        @media (min-resolution: 1.75dppx) and (max-resolution: 1.8dppx) and (min-width: $mobile-width) {
            h1 {
                margin-top: 10rem;
            }
        }

        @media screen and (max-width: $mobile-width) {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 100vw;

            h1 {
                z-index: 10;
                font-size: 4rem;
                line-height: 4rem;
            }

            p {
                z-index: 10;
                font-size: 0.875rem;
                max-width: 80%;
            }
        }

        @media screen and (max-width: $xs) {
            h1 {
                margin-top: 0;
            }

            p {
                margin-top: 0;
            }
        }
    }

    @media screen and (max-width: $mobile-width) {
        align-items: flex-start;

        .content {
            margin-top: 7rem;
        }
    }

    @media screen and (max-width: $xs) {
        align-items: flex-start;

        .content {
            margin-top: 7rem;
        }
    }

    footer {
        visibility: hidden;
        z-index: 100;
        font-weight: 500;
        font-size: 1rem;
        position: fixed;
        bottom: 1.5rem;

        @media screen and (max-width: $mobile-width) {
            visibility: visible;
        }

        @media screen and (max-height: 785px) {
            bottom: 1rem;
        }
    }

}

.gridLeft,
.gridRight,
.stars,
.bitsPilani,
.shadowRect,
.moon,
.dvmLogo,
.shadowCentre {
    position: fixed;
}

.gridLeft,
.gridRight {
    width: auto;
    height: 100vh;
    z-index: 1;

    @media screen and (max-width: $mobile-width) {
        width: 40vw;
    }
}

.gridLeft {
    left: 0px;
}

.gridRight {
    right: 0px;
}

.stars {
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

@mixin alignCenterHorizontal() {
    left: 50%;
    transform: translateX(-50%);

}

.shadowRect {
    width: 100vw;
    height: 100vh;
    z-index: 2;

    @media screen and (max-width: $xs) {
        width: 50vw;
        @include alignCenterHorizontal();
    }
}

.shadowCentre {
    @include alignCenterHorizontal();
    height: 100vh;
    width: 80vw;
    z-index: 2;

    @media screen and (max-width: $mobile-width) {
        width: 60vw;
    }

    // @media screen and (max-width: $xs) {
    //     width: 20vw;
    // }
}

.bitsPilani {
    height: 60vh;
    width: auto;
    bottom: 0px;
    z-index: calc($zIndex-moon + 1);
    @include alignCenterHorizontal();

    @media screen and (max-width: $mobile-width) {
        transform: translateX(-49%) translateY(0.5rem);
        height: 46vh;
    }
}

.moon {
    height: 90vh;
    width: auto;
    z-index: $zIndex-moon;
    bottom: 1%;
    @include alignCenterHorizontal();
    transform: translateX(-52%);
    // animation: moonRotate 10s linear 0s infinite normal;

    @media screen and (max-width: $mobile-width) {
        height: 85vh;
        bottom: -20%;
    }
}

@keyframes moonRotate {
    0% {
        transform: translateX(-52%) rotate(0deg);
    }

    100% {
        transform: translateX(-52%) rotate(360deg);
    }
}

.dvmLogo {
    z-index: calc($zIndex-moon + 2);
    @include alignCenterHorizontal();
    top: 5vh;

    @media screen and (max-width: $mobile-width) {
        width: 18rem;
    }

    @media screen and (max-width: $xs) {
        width: 13rem;
    }
}